html,
body {
  padding: 0;
  margin: auto;
  max-width: 2000px;
  position: relative;
  overflow: auto;
  width: 100%;
  max-width: 2000px;
  min-width: 360px;
  margin: 0 auto;
  padding: 0;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",
    "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 16px;
  color: #000;
  background-color: #fff;
  text-align: center;
  line-height: 2;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
