.imageArea {
  position: relative;
  height: 100vh;
  min-height: 400px;
  max-height: 1000px;
  overflow: hidden;
  margin-bottom: 0;
}

.imageWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.image {
  position: absolute;
  top: 0;
  left: -8%;
  width: 116%;
  max-width: 116%;
  min-height: 380px;
  object-fit: cover;
}
